<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单</title>
    <!-- 引入vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
</head>
<body>
    <div id="app">
        {{form}}
        <form @submit.prevent='saveArticle'>
            文章标题<input v-model.lazy='form.title' type="text" placeholder="请输入文章标题"><br>
            所属栏目
                <select v-model='form.categoryId'>
                    <option :value="item.id" :key="item.id" v-for="item in categories">{{item.name}}</option>
                </select><br>
            文章标签
                <label for="typeOne">
                    <input v-model='form.options' value="css123" type="checkbox" id="typeOne">css
                </label>
                <label for="typeTwo">
                    <input v-model='form.options' value="html" type="checkbox" id="typeTwo">html
                </label>
                <label for="typeThree">
                    <input v-model='form.options' value="vue" type="checkbox" id="typeThree">vue
                </label><br>
            文章样式
                <label for="listOne">
                    <input v-model.number='form.liststyle' value="1" type="radio" id="listOne" name="listStyle">样式一
                </label>
                <label for="listTwo">
                    <input v-model='form.liststyle' value="2" type="radio" id="listTwo" name="listStyle">样式二
                </label><br>
            正文
                <textarea v-model='form.content' name="" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="提交">
        </form>
    </div>
    <script>
        new Vue({
            el:'#app',
            data(){
                return {
                    form:{
                        options:[]
                    },
                    categories:[{
                        id:1,
                        name:'头条'
                    },{
                        id:2,
                        name:'娱乐'
                    },{
                        id:3,
                        name:'体育'
                    }]
                }
            },
            methods:{
                // findAllCategory(){
                //     this.categories = res.data;
                // },
                saveArticle(){
                    alert(JSON.stringify(this.form))
                }
            }
        })
    </script>
</body>
</html>